.container {
   border: 2px solid #333;
   padding: 16px;
   border-radius: 8px;
   background: #222;
   color: #fff;
   max-width: 500px;
   width: 500px;
}

.button {
    background: #444;
    color: #fff;
    border: none;
    padding: 8px 16px;
    border-radius: 4px;
    cursor: pointer,
        
}