.platetopp {
  background: linear-gradient(144deg,rgba(0, 0, 0, 1) 0%, rgba(48, 48, 48, 1) 33%, rgba(89, 89, 89, 1) 60%, rgba(26, 24, 24, 1) 100%);
  border: 4px solid #ccc;
  border-radius: 16px;
  height: 600px;
  min-width: 600px;
  max-width: 1000px;
  gap: 4rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  padding: 2rem;
}