.table {
  background-image: url("./images/duk.jpg");
  background-repeat: repeat;
  height: 100vh;
  display: flex;
}

.coffee {
  background-image: url("./images/kaffeflekk.png");
  background-size: contain;
  height: 200px;
  width: 200px;
  position: absolute;
  bottom: 6rem;
  right: 4rem;
}