.container {
  background-color: goldenrod;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;  margin: 2rem;
  mask: url("")
      /*url("https://www.isorauschen.at/ripped-paper.svg")*/ top / auto 50px
      repeat-x,
    linear-gradient(white, white) no-repeat center/100% calc(100% - 2 * 50px),
    url("./bottom.png")
      /* url("https://www.isorauschen.at/ripped-paper-mirrored.svg")*/
      bottom/auto 50px repeat-x;
  padding: 1rem;
  transform: rotateZ(-8deg);
  max-width: 700px;
}

.container h1 {
  padding-top: 2rem;
}
