.container {
  align-self: flex-end;
  background-color: bisque;
  padding: 1rem;
  margin: 2rem;
}

.container form {
  display: flex;
  flex-direction: column;
}

.container form button {
  align-self: flex-end;
}

.formElement {
  display: flex;
  flex-direction: column;
  gap: 8px;
}